$orange: rgb(255, 166, 0);
$aubergine: #611F69;
$purple: #7C3085;
$black: #000;
$white: #fff;
$blue: #36C5F0;
$yellow: #ECB22E;
$darkgreen: #2EB67D;
$red: #E01E5A;
$msg_bckgrd: #eee;
$grey: rgb(219, 219, 219);
$bckgrdone: #8CA6DB;
$bckgrdtwo: #B993D6;
$green: #1ECD97;
$gray: #bbbbbb;