<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Camillo Cool Chat</title>
  <link rel="stylesheet" href="css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
      integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ca.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>

<body data-palette='0'>
  <main id="app">

    
    <section class="form-container">
      <i id='toggle' class="fas fa-adjust"></i> <p id="theme">change theme</p>
      <header>
        <h1 id="chatwelcome">Hello There! Let'chat!</h1>
        <img src="./images/pic_intro.svg" alt="intro" id="picintro">
      </header>
 
      <label for="nickname">Your (cool) Nickname</label>
      <input v-model='nickname' type="text" id="nickname" class="nickname" placeholder="What is your nickname?">

      <form>
        <label for="message">Share your thoughts:</label>
        <textarea v-model='message' class="message" type="text" autocomplete="off" id="textarea"></textarea>
        <input id='button' type="submit" @click.prevent='dispatchMessage'>
      </form>

      <h1 id="connectionson">People connected to the chat: {{connections}}</h1>
      <p v-if="typing" class="text-typing">{{typing}} is typing...</p>
      <div id="wave" v-if="typing">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>

    </section>

    <section class="messages">
      <ul id="messages" v-for="message in messages">
				<newmessage :msg='message'></newmessage>
			</ul>
		</section>		
	</main>
  <script src="/socket.io/socket.io.js"> 
  </script> <script type="module" src="js/main_vm.js">
  </script>
</body>

</html>